name: "Publish GitHub Action"

on: ["push"]
# push:
#   branches:
#     - master
#   tags:
#     - "*"

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - uses: TG908/publish-github-action@v1
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}